pymongo
pymongo[srv]
dnspython
pandas
numpy
ensure

-e .

# dev requirements -

pytest==7.1.3

# Used to create a testing environment
tox==3.25.1 

black==22.8.0

# Used for linting
flake8==5.0.4

mypy==0.971

